
@use '../abstracts/mixins';
@use '../abstracts/function' as *;
@use 'sass:color';

.cta {
  padding-bottom: size(120);

  @include mixins.mq(mobile) {
    padding-bottom: size-m(80);
  }

  .cta-box {
    background: linear-gradient(180deg, #1b0e77 0%, #06031f 100%);
    border-radius: size(40);
    padding: size(80);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;

    @include mixins.mq(mobile) {
      flex-direction: column;
      padding: size-m(40) size-m(24);
      border-radius: size-m(24);
      align-items: flex-start;
      gap: size-m(32);
    }
  }

  .cta-content {
    width: 85%;

    @include mixins.mq(mobile) {
      width: 100%;
    }

    h2 {
      font-size: size(64);
      font-family: 'Montserrat', sans-serif;
      font-weight: 700;
      font-family: 'Montserrat', sans-serif;
      font-weight: 900;
      margin: 0 0 size(16) 0;
      display: flex;
      align-items: center;
      gap: size(16);
      color: #fff;

      @include mixins.mq(mobile) {
        font-size: size-m(32);
        font-size: size-m(40);
        flex-direction: column;
        align-items: flex-start;
        gap: size-m(8);
        margin-bottom: size-m(12);
      }

      span {
        // font-size: size(32);
        font-weight: 400;

        @include mixins.mq(mobile) {
          font-size: size-m(24);
        }
      }
    }

    h3 {
      font-size: size(20);
      font-weight: 600;
      margin: 0 0 size(16) 0;
      color: #fff;

      @include mixins.mq(mobile) {
        font-size: size-m(18);
        margin-bottom: size-m(12);
      }
    }

    p {
      font-size: size(15);
      line-height: 1.8;
      opacity: 0.8;
      margin: 0;

      @include mixins.mq(mobile) {
        font-size: size-m(14);
      }
    }
  }

  .cta-action {
    @include mixins.mq(mobile) {
      width: 100%;
    }

    .btn--red {
      background-color: #ea0044;
      color: #fff;
      padding: size(15) size(20);
      border-radius: size(12);
      text-decoration: none;
      font-size: size(18);
      font-weight: 600;
      display: inline-flex;
      transition: background-color 0.3s;

      @include mixins.mq(mobile) {
        padding: size-m(16) size-m(32);
        border-radius: size-m(10);
        font-size: size-m(16);
        width: 100%;
        justify-content: center;
      }

      &:hover {
        background-color: color.adjust(#ea0044, $lightness: -10%);
      }
    }
  }
}
